---
---

@import 'bootstrap/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
  font-family: 'Muli', sans-serif;
  color: black;
  background-color: rgb(247, 245, 242);
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.0125em;
  text-align: left;
  padding-top: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 5rem;
}

.border-2 {
    border-width: 2px !important;
}

a {
  color: black;
  border-bottom: 1px dotted gray;
  text-decoration: none !important;
  transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
}

a:hover {
    color: #decaad;
    border-bottom-color: #decaad;
}
