<div class="row py-5 border-bottom border-dark border-2">
  <div class="col-md col-12">
    <p>Experience</p>
  </div>
  <div class="col-md-8 col-12">
    <div class="container">
        {% for company in site.data.experience %}
        <div class="row">
          <p>
            {% if company.promoted != true %}
            <a href="{{ company.url }}" target="_blank">{{ company.name }}</a>
            <br />
            {% endif %}
            <span class="font-italic">{{ company.period }}</span>
            <br />
            {{ company.title }}
          </p>
          <p>
            {% for item in company.detail %}
              <p>{{ item.text }}</p>
            {% endfor %}
          </p>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
